.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/61830698_2322484908074763_5957045066034839552_o.jpg");
  background-position: 50% 1.97%;
}

.u-section-1 .u-sheet-1 {
  min-height: 294px;
}

.u-section-1 .u-menu-1 {
  margin: 12px 21px 0 auto;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-1 {
  margin: 40px 706px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-menu-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-bottom: 12px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }
}