.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/61830698_2322484908074763_5957045066034839552_o.jpg");
  background-position: 50% 10.78%;
}

.u-section-1 .u-sheet-1 {
  min-height: 253px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 87px 857px 87px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 657px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 76px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 57px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 782px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 36px 0 0 548px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 548px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 55px 307px 0 auto;
}

.u-section-2 .u-gallery-1 {
  width: 570px;
  height: 315px;
  grid-gap: 10px 10px;
  margin: -244px auto 0 -51px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 615px 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-2 {
  width: 579px;
  height: 361px;
  grid-gap: 10px 10px;
  margin: -346px -585px 0 auto;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5px auto 0 0;
  padding: 7px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1900px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 61px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 448px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 448px;
  }

  .u-section-2 .u-btn-1 {
    height: 38px;
    width: 99px;
    margin-right: 207px;
    padding: 7px 0;
  }

  .u-section-2 .u-gallery-1 {
    width: 345px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1198px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 450px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: -302px;
  }

  .u-section-2 .u-gallery-2 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    height: 38px;
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 208px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 398px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 157px;
  }

  .u-section-2 .u-gallery-1 {
    width: 295px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 398px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 20px;
    margin-right: 157px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    width: -210px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 834px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 407px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 40px;
    margin-right: 47px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: -552px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 396px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 55px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 0 0 724px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 683px;
}

.u-section-3 .u-gallery-1 {
  width: 463px;
  height: 260px;
  grid-gap: 10px 10px;
  margin: -238px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: -6px 83px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 92px;
    margin-left: 582px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 582px;
  }

  .u-section-3 .u-gallery-1 {
    width: 345px;
  }

  .u-section-3 .u-btn-1 {
    height: 38px;
    width: 99px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 0;
    padding: 7px 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 5px;
    margin-left: 480px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 368px;
  }

  .u-section-3 .u-gallery-1 {
    width: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 557px;
    margin-right: 67px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 557px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -12px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 294px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -474px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 245px;
    margin-left: 10px;
  }
}